<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- default-init-method is called for all beans if the method is defined in the bean's class else it's ignored. -->
<beans default-init-method="customInit">
    <!-- init-method and destroy-method are specific to the current bean -->
    <bean id="triangle" class="com.snow.spring.Triangle" name="triangle-name"
          autowire="byName" destroy-method="customDestroy">
    </bean>

    <bean id="pointB" class="com.snow.spring.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="com.snow.spring.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

    <bean id="pointA" class="com.snow.spring.Point">
        <!-- get values from properties file -->
        <property name="x" value="${pointA.X}"/>
        <property name="y" value="${pointA.Y}"/>
    </bean>
    <bean class="com.snow.spring.InitializeBeanByBeanPostProcessor"/>

    <bean class="com.snow.spring.MyBeanFactoryPostProcessor"/>

    <!-- PropertySourcesPlaceholderConfigurer: Provide external properties file for values-->
    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations" value="pointsconfig.properties"/>
    </bean>

    <!-- Aliases -->
    <alias name="triangle" alias="triangle-alias"/>
</beans>