<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="parentTriangle" class="com.snow.spring.Triangle" name="triangle-name">
        <property name="pointA" ref="pointA"/>
        <property name="points">
            <list>
                <ref bean="pointA"/>
            </list>
        </property>
    </bean>
    <bean id="triangle1" class="com.snow.spring.Triangle" parent="parentTriangle" >
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>
        <!-- Inherits list property from parent bean -->
        <property name="points">
            <!--  merge="true" add to the parent list -->
            <list merge="true">
                <ref bean="pointB"/>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>
    <!-- traingle2 inherits the list from parent triangle that contains all 3 points (A, B and C) -->
    <bean id="triangle2" class="com.snow.spring.Triangle" parent="triangle1" >
    </bean>

    <bean id="pointB" class="com.snow.spring.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="com.snow.spring.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

    <bean id="pointA" class="com.snow.spring.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    <!-- Aliases -->
    <alias name="triangle2" alias="triangle-alias"/>
</beans>